*
{
	margin: 0px;
	padding: 0px;
}

@font-face
{
	font-family: pdark;
	src: url(assets/pdark.ttf);
}

@font-face
{
	font-family: heading;
	src: url(assets/BebasNeue.otf);
}

body
{
	background-image: url(assets/footer_lodyas.png);
}

span.welcome
{
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: heading;
	font-size: 140px;
	color: #09a; /* white */
	display: block;
	text-align: center;
	font-weight: 100;
	text-shadow: 5px 5px 4px rgba(0, 52, 52, 1);  
	text-decoration:none;
	color: #FFFFFF;
}

ul.tabList
{
	list-style-type: none;
}

ul.tabList li
{
	
}

ul.tabList li a
{
	text-decoration: none;
	color: #fff;
	font-size: 100px;
	font-family: heading;
	background-color: #222;
	text-align: center;
	display: block;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 5px;
}

ul.tabList li ul
{
	list-style-type: none;
}

ul.tabList li ul li
{
	
}

ul.tabList li ul li a
{
	text-decoration: none;
	background-color: #282828;
	width: 80%;
}