body
{
	text-align: center;
}

#box
{
	display: block;
	width: 500px;
	margin: 50px auto;
	padding: 15px;
	text-align: center;
	border: 1px solid blue;
	background: yellow;
	-webkit-border-top-left-radius:2em;
	-webkit-border-bottom-left-radius:2em;
	-webkit-transition: -webkit-transform 1s;
}

#box:hover
{
	-webkit-transform: rotate(5deg);
}