*
{
	padding: 0px;
	margin: 0px;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

@font-face
{
    font-family: heading;
    src: url(assets/fonts/SquaredDisplay.ttf);
}

@font-face
{
	font-family: bebas;
	src: url(assets/fonts/BebasNeue.otf);
}

@font-face
{
	font-family: num;
	src: url(assets/fonts/visitor.ttf);
}

@-webkit-keyframes dropDown
{
  0%   { margin-top: -150px; }
  100% { margin-top: 0px; }
}
@-moz-keyframes dropDown
{
  0%   { margin-top: -150px; }
  100% { margin-top: 0px; }
}
@-o-keyframes dropDown
{
  0%   { margin-top: -150px; }
  100% { margin-top: 0px; }
}
@keyframes dropDown
{
  0%   { margin-top: -150px; }
  100% { margin-top: 0px; }
}

html, body
{
	height: 100%;
}

body
{
	background: url(assets/images/backgrounds/footer_lodyas.png);
}
#gameSpaceContainer
{
	cursor:url(assets/images/hammer/hammertime.png) 64 64,auto;
}

#gameSpaceContainer.clicking
{
	cursor:url(assets/images/hammer/hammertimeplanb.png)64 64,auto;
}

#panelConatiner
{
	width: 1200px;
	margin: 10px auto;
	height: 600px;
	overflow-y: hidden;
}	

/* start panel... */
#startPanel
{	
	margin: 10px auto;
	width: 1200px;
	height: 600px;
	background-color: #222;
	text-align: center;
	padding-top: 35px;
}

.endPanel
{
	width: 1200px;
	height: 600px;
	background-color: #222;
	text-align: center;
	padding-top: 50px;
}

#finalScore
{
	font-family: bebas;
	color: white;
	font-size: 56px;
}

#samsThing
{
	font-family: bebas;
	color: white;
	font-size: 56px;
}

#diffdisp
{
	font-family: bebas;
	color: white;
	font-size: 56px;
}

.diffucultyButton
{
	font-family: heading;
	font-size: 75px;
	display: block;
	width: 250px;
	margin: 10px auto;
}

.diffucultyButton:hover
{
	cursor: pointer;
}

.easyB
{
	color: #5EFF74;
}

.mediumB
{
	color: #FFEA5E;
}

.hardB
{
	color: #FF5E5E;
}


.easyB:hover
{
	color: #00FF22;
}

.mediumB:hover
{
	color: #FFFF00;
}

.hardB:hover
{
	color: #FF4141;
}

#big_wrapper
{
	width: 1200px;
	margin: 10px auto;
	height: 600px;
}

.easyA
{
	color: #5EFF74;
}

.mediumA
{
	color: #FFEA5E;
}

.hardA
{
	color: #FF5E5E;
}


.easyA:hover
{
	color: #00FF22;
}

.mediumA:hover
{
	color: #FFFF00;
}

.hardA:hover
{
	color: #FF4141;
}

#big_wrapper
{
	width: 1200px;
	margin: 10px auto;
	height: 600px;
}

#top_header
{
	height: 200px;
	background: #3f3f3f;
	text-align: center;
	font: 70px heading, sans serif;
	line-height: 125px;
	color: black;
	text-shadow: 2px 2px 2px rgba(0, 95, 167, 1);
	overflow: hidden;
}

.redBar
{
	position: absolute;
	width: 1200px;
	height: 40px;
	margin: 0px;
	padding: 0px;
	z-index: 0;
	background-color: red;
	opacity: 0;
}

#score_tab 
{
	height: 40px;
	background-color: #008CAB;
	padding: 2px;
	position: relative;
	padding: 0px;
	overflow-x: hidden;
}

.timeBar 
{
	position: absolute;
	width: 1200px;
	height: 40px;
	margin: 0px;
	padding: 0px;
	z-index: 1;
}

#score_tab #scoreBox
{	
	border: 2px solid white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	height: 30px;
	width: 100px;
	background-color: black;
	position: relative;
	z-index: 2;
	top: 3px;
	margin: 0 auto;
	display: block;
	
}

#scoreText
{
	color: white;
	line-height: 40px;
	text-align: center;
	font: 36px num ,Courier New;
	position: relative;
	z-index: 3;

	margin: 0 auto;
	display: block;
}

.grass
{
	position: absolute;
	z-index: -1;
	width: 1200px;
	height: 800px;
	display: block;
	
}

/* game panel */
#gameSpaceContainer
{
	-webkit-box-flex: 1;
	-webkit-box-align: stretch;
	width: 1200px;
	height: 800px;
	/*background: url(assets/grass.png);*/
	overflow: hidden;
	position: relative;
}

span.welcomeText
{
	font-family: bebas;
	color: white;
	font-size: 85px;
	display: block;
	
	-webkit-animation: dropDown 0.5s ease-out; /* Safari 4+ */
	-moz-animation:    dropDown 0.5s ease-out; /* Fx 5+ */
	-o-animation:      dropDown 0.5s ease-out; /* Opera 12+ */
	animation:         dropDown 0.5s ease-out; /* IE 10+, Fx 29+ */
}

span.welcomeText2
{
	font-family: bebas;
	color: white;
	font-size: 35px;
	display: block;
	margin-bottom: 30px;
}



ul.gameModeTitles
{
	margin: 10px;
}

ul.gameModeTitles li
{
	display: inline-block;
	width: 27%;
	margin: 0px, 15px, 0px, 15px;

	font-family: bebas;
	color: white;
	font-size: 35px;
}

ul.gameModePanel
{
	margin: 10px;
}

ul.gameModePanel li
{
	display: inline-block;
	width: 27%;
	margin: 0px, 15px, 0px, 15px;
	background-color: #2f2f2f;
}

.inputContainer
{
	width: 27%;
	display: block;
	padding: 0px;
	margin: 0px auto;
}

#txtinput
{
	height: 30px;
	width: 200px;
	padding: 0px;
	margin: 0px;
	margin-top: -4px;
	height: 30px;
	font-family: bebas;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
}

#fateButton
{
	padding: 0px;
	background-color: #333;
	border: 3px solid #333;
	color: white;
	font-family: bebas;
	font-size: 20px;

	width: 110px;

	margin: 0px;
	display: inline-block;
	height: 36px;
	-webkit-transition: width 0.2s, margin-left 0.2s, color 0.2s;
}

#fateButton:hover
{
	cursor: pointer;
	color: #0ab;
	width: 160px;
	margin-left: -50px
}















div.container
{
	display: inline-block;
	margin: 48px;
	margin-bottom: 25px;
	position: relative;
	width: 200px;
	height: 130px;
	overflow: hidden;
}

img.imgSam
{
	width: 120px;
	height: 120px;
	position: absolute;
	left: 25px;
	z-index: 1;
}

img.hole
{
	top: 40px;
	width: 200px;
	position: absolute;
	z-index: 0;
}

.final
{
	font-family: heading;
	font-size: 55px;
	display: block;
	margin: 15px auto;
}

.final:hover
{
	cursor: pointer;
}

.restart
{
	color: #5EFF74;
}

.restart:hover
{
	color: #00FF22;
}

.main
{
	color: #FF5E5E;
}

.main:hover
{
	color: #FF4141;
}

