table#mainTable{
	margin: 10px;
}

th, td {
    padding: 5px;
    right-margin: 20px;
    text-align: center;
}

table#mainTable tr:nth-child(even) {
    background-color: #eee;
}
table#mainTable tr:nth-child(odd) {
    background-color: #fff;
}
table#mainTable th {
    color: white;
    background-color: black;
}