h1
{
	font-family: Century Gothic, sans serif;
	display: block;
}

#button
{
	margin-bottom: 20px;
}

/* First Button */
#button a
{
	display: block;
	height: 100px;
	width: 300px;
	overflow: hidden;
	background: #D22;
	border-radius: 10px;
	text-decoration: none;
}

#button a:hover h6
{
	margin-top: -100px;
}

#button h6
{
	-webkit-transition: all 0.2s;
	color: #FFF;
	margin: 0px;
	padding: 0px;
	text-align: center;
	font: 2em/100px Century Gothic, sans-serif;
	text-shadow: 1px 1px 1px #000;
}

#button a div
{
	text-align: center;
	font-family: Century Gothic, sans serif;
	color: white;
	text-shadow: 1px 1px 1px #000;
	margin: 0px;
	padding: 0px;
}

/* Second Button */

/* entire container, keeps perspective */
.flip-container 
{
	perspective: 1000;
	margin-bottom: 20px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper 
	{
		transform: rotateY(180deg);
	}

.flip-container, .front, .back 
{
	width: 300px;
	height: 100px;
	border-radius: 10px;
}

/* flip speed goes here */
.flipper 
{
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back 
{
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front
{
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	background-color: #d22;
	color: #FFF;
	margin: 0px;
	padding: 0px;
	text-align: center;
	font: 2em/100px Century Gothic, sans-serif;
	text-shadow: 1px 1px 1px #000;
}

/* back, initially hidden pane */
.back 
{
	transform: rotateY(180deg);
	background-color: #d22;
	text-align: center;
	font-family: Century Gothic, sans serif;
	color: white;
	text-shadow: 1px 1px 1px #000;
	margin: 0px;
	padding: 0px;
}




/* Container for butons */
#button2
{
	margin: 0px;
	padding: 0px;
	width: 300px;
	height: 100px;
	text-align: center;
	color: white;
}

#button2 #question
{
	position: relative;
	background-color: #d22;
	text-align: center;
	font: 2em/100px Century Gothic, sans-serif;
	text-shadow: 1px 1px 1px #000;
	z-index: 2;
	top: 0px;
	left: 0px;
	margin-top: -100px;
	border-radius: 10px;
	-webkit-transition: opacity 1s;
}

#button2 #question:hover
{
	opacity: 0;
}

#button2 #answer
{
	position: relative;
	background-color: #d22;
	text-align: center;
	font: 2em/100px Century Gothic, sans-serif;
	text-shadow: 1px 1px 1px #000;
	z-index: 2;
	top: 0px;
	left: 0px;
	border-radius: 10px;
}




















